<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>City Temperature</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="bg"></div>
    <div class="overlay"></div>
    <div id="cityDisplay" class="city">Loading...</div>
    <div class="center">
        <span id="tempValue" class="temp">--</span><span id="unitDisplay" class="unit">°C</span>
    </div>
    <div class="panel">
        <input id="cityInput" placeholder="Enter city" />
        <select id="unitSelect">
            <option value="celsius">°C</option>
            <option value="fahrenheit">°F</option>
        </select>
        <button id="searchBtn">Show</button>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
